@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,600;1,600&display=swap");
body {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 1240px;
  margin: 0 auto;
  border: 1px solid red;
  overflow: hidden;
  margin-bottom: 120px;
}

.menu {
  padding-bottom: 26px;
  margin-top: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  background-color: #F5EEE0;
  margin-bottom: 0px;
}

.menu-link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #705A66;
  text-transform: uppercase;
  text-decoration: none;
}

.icon-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon {
  width: 25px;
  fill: #705A66;
  margin-left: -250px;
}

.icon:hover {
  fill: #03a9f4;
}

.icon-card {
  width: 25px;
  fill: #705A66;
}

.main {
  background-color: #F5EEE0;
  border-bottom: 5px solid rgb(255, 0, 0);
  border: 1px solid white;
  padding-bottom: 120px;
}

.main-title {
  font-family: "Montserrat", sans-serif;
  color: #705A66;
  text-align: center;
  font-size: 100px;
  line-height: 110px;
  font-weight: 600;
  margin-top: 0px;
}

.pudding {
  align-items: center;
  justify-content: center;
  margin-bottom: 378px;
}

.cakes {
  margin-left: -153px;
  margin-top: -709px;
}

.hardening {
  margin-bottom: 146px;
}

.circlet {
  margin-left: 83px;
}

.contact {
  width: 25px;
  height: 25px;
}

.vraper-social {
  display: flex;
  margin-top: -474px;
  margin-left: 833px;
}

.social-list {
  list-style: none;
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.main-description-social {
  font-family: "Montserrat", sans-serif;
  color: #705A66;
  font-size: 16px;
  width: 287px;
}

.galery-photo {
  list-style: none;
}

.galery-img {
  width: 500px;
  height: auto;
}

.thumb {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.thumb > .label-list {
  bottom: -37;
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 97px;
  border-bottom-left-radius: 4px;
  line-height: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  background-color: #F5EEE0;
  color: #705A66;
  text-align: center;
}

.galery-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: calc(50% - 10px);
}

.galery-btn {
  border-radius: 25px;
  display: flex;
  margin-left: 153px;
  width: 276px;
  margin-top: -51px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  background-color: #F5EEE0;
  color: #705A66;
  text-align: center;
}

.label-list {
  margin-left: 100px;
}

.galery-btn-arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -78px;
  margin-left: 386px;
}

.bestsaller {
  display: flex;
}

.bestsaller-arrow-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.bestsaller-img {
  width: 340px;
}

.bestsaller-arrows {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 32px;
  margin-right: 50px;
}

.bestsaller-name {
  display: flex;
  justify-content: space-around;
  gap: 32px;
}

.bestsaller-photo {
  list-style: none;
}

.bestsaller-text {
  color: #705A66;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  font-weight: 600;
  font-size: 24px;
}

.bestsaller-text-shop {
  display: flex;
  justify-content: space-between;
}

.bestsaller-price {
  color: #705A66;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.bestsaller-img-caramel {
  height: 340px;
}

.bestsaller-button {
  font-family: "Montserrat", sans-serif;
  color: #705A66;
  font-size: 24px;
  background-color: #F5EEE0;
  padding: 20px 80px;
  border-radius: 10px;
  margin-top: 82px;
  text-decoration: none;
  text-transform: uppercase;
}

.bestsaller-button:hover {
  background-color: #DDD5C6;
}

.bestsaller-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grann {
  display: flex;
}

.grann-main {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.grann-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 305px;
}

.grann-text {
  font-family: "Montserrat", sans-serif;
  color: #705A66;
}

.grann-photo-ingredient {
  display: flex;
  margin-left: 100px;
}

.delivery-title {
  list-style: none;
  padding: 0px 106px 0px 106px;
}

.delivery-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 64px;
}

.delivery-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery-text {
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  font-size: 24px;
  color: #705A66;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
}

.delivery-description {
  font-family: "Montserrat", sans-serif;
  color: #705A66;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.delivery-text-badges {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

.about-me-face {
  padding-bottom: 300px;
}

.about-me-photo {
  position: absolute;
  margin-top: 78px;
  margin-left: 30px;
}

.about-me-title {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: #705A66;
  line-height: 32px;
  font-size: 24px;
  font-weight: 500;
  margin-left: 641px;
  margin-top: -667px;
}

.about-me-position {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-left: 500px;
  margin-top: -200px;
}

.about-me-name {
  font-family: "Montserrat", sans-serif;
  color: #705A66;
  line-height: 32px;
  font-size: 24px;
  font-weight: 500;
}

.about-me-text {
  font-family: "Montserrat", sans-serif;
  margin-left: 635px;
  margin-top: -539px;
  color: #705A66;
  line-height: 24px;
  font-size: 18px;
}

.about-me-description {
  font-family: "Montserrat", sans-serif;
  color: #705A66;
  line-height: 22px;
  font-size: 16px;
}

.register-photo-text {
  position: absolute;
  padding-top: 80px;
  margin-top: -573px;
  padding-left: 100px;
}

.register-text {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  margin-top: -557px;
  padding-top: 280px;
  padding-left: 100px;
  color: #F5F7F8;
  line-height: 24px;
  font-size: 18px;
}/*# sourceMappingURL=main.css.map */