.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thank-you-title {
    font-family: "Montserrat", sans-serif;
    color: #705A66;
    text-align: center;
    font-size: 70px;
    line-height: 110px;
    font-weight: 600;
    margin-top: 0px;
}

.thank-you-text {
    width: 663px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #705A66;
    text-align: center;
}

.thank-you-btn-title {
    display: flex;
    gap: 32px;
}

.thank-you-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #705A66;
    width: 393px;
    height: 67px;
    border-radius: 10px;
    border: none;
    background-color: #F5EEE0;
}

.thank-you-btn:hover {
    background-color: #DDD5C6;
    cursor: pointer;
}

.thank-you-btn-right {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #F5EEE0;
    width: 393px;
    height: 67px;
    border-radius: 10px;
    border: none;
    background-color: #705A66;
}

.thank-you-btn-right:hover {
    background-color: #3a3730;
    cursor: pointer;
}


// телефон

@media screen and (max-width: 768px) {
    .thank-you {
        width: 355px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .thank-you-title {
        margin-left: 74px;
        width: 355px;
        font-family: "Montserrat", sans-serif;
        color: #705A66;
        text-align: center;
        font-size: 55px;
        line-height: 80px;
        font-weight: 600;
        margin-top: 0px;
    }

    .thank-you-text {
        margin-left: 80px;
        width: 355px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #705A66;
        text-align: center;
    }

    .thank-you-btn-title {
        display: flex;
        flex-direction: column;
        margin-left: 86px;
        gap: 32px;
    }

    .thank-you-btn {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        line-height: 32px;
        color: #705A66;
        width: 355px;
        height: 67px;
        border-radius: 10px;
        border: none;
        background-color: #F5EEE0;
    }

    .thank-you-btn:hover {
        background-color: #DDD5C6;
        cursor: pointer;
    }

    .thank-you-btn-right {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        line-height: 32px;
        color: #F5EEE0;
        width: 355px;
        height: 67px;
        border-radius: 10px;
        border: none;
        background-color: #705A66;
    }

    .thank-you-btn-right:hover {
        background-color: #3a3730;
        cursor: pointer;
    }

    .thank-you-img {
        margin-left: 113px;
    }
}

// планшет
@media screen and (max-width: 1023px) {
    .thank-you {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .thank-you-title {
        font-family: "Montserrat", sans-serif;
        color: #705A66;
        text-align: center;
        font-size: 70px;
        line-height: 110px;
        font-weight: 600;
        margin-top: 0px;
    }

    .thank-you-text {
        width: 663px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        line-height: 24px;
        color: #705A66;
        text-align: center;
    }

    .thank-you-btn-title {
        display: flex;
        gap: 32px;
    }

    .thank-you-btn {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        line-height: 32px;
        color: #705A66;
        width: 393px;
        height: 67px;
        border-radius: 10px;
        border: none;
        background-color: #F5EEE0;
    }

    .thank-you-btn:hover {
        background-color: #DDD5C6;
        cursor: pointer;
    }

    .thank-you-btn-right {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        line-height: 32px;
        color: #F5EEE0;
        width: 393px;
        height: 67px;
        border-radius: 10px;
        border: none;
        background-color: #705A66;
    }

    .thank-you-btn-right:hover {
        background-color: #3a3730;
        cursor: pointer;
    }
}