body {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 1240px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 120px;
}

a {
    text-decoration: none;
}


// телефон

@media screen and (max-width: 768px) {
    body {
        padding: 0px;
        margin: 0px;
    }

    .container {
        width: 1240px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 120px;
    }

    a {
        text-decoration: none;
    }
}

// планшет
@media (min-width: 769px) and (max-width: 1023px) {
    body {
        padding: 0px;
        margin: 0px;
    }

    .container {
        width: 780px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 120px;
    }

    a {
        text-decoration: none;
    }
}