.delivery-title {
    list-style: none;
    padding: 0px 106px 0px 106px;
}

.delivery-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 64px;
}

.delivery-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery-text {
    font-family: "Montserrat", sans-serif;
    line-height: 32px;
    font-size: 24px;
    color: #705A66;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
}

.delivery-description {
    font-family: "Montserrat", sans-serif;
    color: #705A66;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

}

.delivery-text-badges {
    display: flex;
    align-items: center;
    justify-content: center;
}