 .grann {
     display: flex;
 }

 .grann-main {
     display: flex;
     align-items: center;
     justify-content: center;
     justify-content: space-between;
 }

 .grann-photo {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 305px;
 }

 .grann-text {
     font-family: "Montserrat", sans-serif;
     color: #705A66;
 }

 .grann-photo-ingredient {
     display: flex;
     margin-left: 100px;
 }

 .grann-photo-down {
     width: 1600px;
     height: 700px;
     margin-top: -120px;
     //  display: flex;
     //  align-items: center;
     //  justify-content: center;
     margin-left: 150px;
 }