.main {
    background-color: #F5EEE0;
    border-bottom: 5px solid rgb(255, 0, 0);
    border: 1px solid white;
    padding-bottom: 120px;
    height: 667px;

}

.container-main {
    height: 888px;
}

.main-title {
    font-family: "Montserrat", sans-serif;
    color: #705A66;
    text-align: center;
    font-size: 100px;
    line-height: 110px;
    font-weight: 600;
    margin-top: 0px;
}

.pudding {
    align-items: center;
    justify-content: center;
    margin-bottom: 378px;

}

.cakes {
    position: relative;
    margin-left: -153px;
    margin-top: -709px;
    z-index: 5;
}

.hardening {
    margin-bottom: 146px;
}

.circlet {
    margin-left: 83px;
}

.contact {
    width: 25px;
    height: 25px;

}

.vraper-social {
    display: flex;
    margin-top: -474px;
    margin-left: 833px;

}

.social-list {
    list-style: none;
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.main-description-social {
    font-family: "Montserrat", sans-serif;
    color: #705A66;
    font-size: 16px;
    width: 287px;
}

.custom-shape-divider-top-1759830817 {
    margin-top: -1px;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1759830817 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 316px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1759830817 .shape-fill {
    fill: #F5EEE0;
}



.main-title-phone {
    font-family: Montserrat, sans-serif;
    color: rgb(112, 90, 102);
    text-align: center;
    font-size: 100px;
    line-height: 110px;
    font-weight: 600;
    margin-top: 0px;
    display: none;
}


// телефон

@media screen and (max-width: 768px) {
    .main {
        background-color: #F5EEE0;
        border-bottom: 5px solid rgb(255, 0, 0);
        border: 1px solid white;
        padding-bottom: 120px;
        height: 667px;

    }

    .main-title-phone {
        width: 355px;
        margin-left: 31px;
        font-family: Montserrat, sans-serif;
        color: rgb(112, 90, 102);
        text-align: center;
        font-size: 68px;
        line-height: 80px;
        font-weight: 600;
        margin-top: 0px;
        display: block;
    }

    .container-main {
        margin-top: 25px;
        height: 888px;
    }

    .main-title {
        margin-left: 42px;
        width: 355px;
        font-family: "Montserrat", sans-serif;
        color: #705A66;
        text-align: center;
        font-size: 70px;
        line-height: 80px;
        font-weight: 600;
        margin-top: 0px;
    }

    .main-title-bestsaller {
        font-size: 60px;
        width: 355px;
        margin-left: 9px;
    }

    .main-title-h1 {
        width: 315px;
        font-family: "Montserrat", sans-serif;
        color: #705A66;
        text-align: center;
        font-size: 65px;
        line-height: 80px;
        font-weight: 600;
        margin-top: 0px;
    }

    .pudding {
        width: 141px;
        align-items: center;
        justify-content: center;
        margin-bottom: 517px;
        margin-left: -9px;
    }

    .cakes {
        position: relative;
        margin-left: -153px;
        margin-top: -709px;
        z-index: 5;
        visibility: hidden;
    }

    .hardening {
        width: 128px;
        margin-bottom: 329px;
        margin-left: -17px;
    }

    .circlet {
        margin-bottom: 372px;
        margin-left: -6px;
        width: 150px;
    }

    .contact {
        width: 25px;
        height: 25px;

    }

    .vraper-social {
        display: flex;
        margin-top: -474px;
        margin-left: 833px;

    }

    .social-list {
        list-style: none;
        flex-direction: column;
        display: flex;
        gap: 20px;
        visibility: hidden;
    }


    .main-description-social {
        z-index: 5;
        font-family: "Montserrat", sans-serif;
        color: #705A66;
        font-size: 16px;
        width: 190px;
        margin-left: -822px;
        margin-top: -212px;
    }

    .main-title-question {
        margin-left: -6px;
        font-size: 30px;
    }

    .main-title-card {
        font-size: 45px;
        margin-left: 37px;
    }

    .custom-shape-divider-top-1759830817 {
        margin-top: -1px;
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-top-1759830817 svg {
        position: relative;
        display: block;
        width: calc(127% + 1.3px);
        height: 316px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-top-1759830817 .shape-fill {
        fill: #F5EEE0;
    }


}


// планшет
@media (min-width: 769px) and (max-width: 1023px) {
    .main {
        background-color: #F5EEE0;
        border-bottom: 5px solid rgb(255, 0, 0);
        border: 1px solid white;
        padding-bottom: 120px;
        height: 667px;

    }

    .container-main {
        height: 888px;
    }

    .main-title {
        font-family: "Montserrat", sans-serif;
        color: #705A66;
        text-align: center;
        font-size: 60px;
        line-height: 97px;
        font-weight: 600;
        margin-top: 0px;
    }

    .pudding {
        width: 200px;
        align-items: center;
        justify-content: center;
        margin-bottom: 378px;

    }

    .cakes {
        position: relative;
        width: 401px;
        left: 109px;
    }

    .hardening {
        width: 240px;
        margin-bottom: 146px;
    }

    .circlet {
        margin-bottom: 89px;
        width: 247px;
        margin-left: 31px;
    }

    .contact {
        width: 25px;
        height: 25px;

    }

    .vraper-social {
        display: flex;
        margin-top: -158px;
        margin-left: 501px;

    }

    .social-list {
        list-style: none;
        flex-direction: column;
        display: none;
        gap: 20px;
    }

    .main-description-social {
        font-family: "Montserrat", sans-serif;
        color: #705A66;
        font-size: 16px;
        width: 287px;
    }

    .custom-shape-divider-top-1759830817 {
        margin-top: -1px;
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-top-1759830817 svg {
        position: relative;
        display: block;
        width: calc(127% + 1.3px);
        height: 316px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-top-1759830817 .shape-fill {
        fill: #F5EEE0;
    }

    .main-title-phone {
        font-family: Montserrat, sans-serif;
        color: rgb(112, 90, 102);
        text-align: center;
        font-size: 100px;
        line-height: 110px;
        font-weight: 600;
        margin-top: 0px;
        display: block;
    }

}