.register {
    background-color: #705A66;
    background-image: url("../../img/register/bg-section-register.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 565px;
}

.register-photo-text {
    padding-top: 0px;
    padding-left: 27px;
}

.register-text {
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    color: #F5F7F8;
    line-height: 24px;
    font-size: 18px;
    width: 393px;
}

.register-photo-title {
    margin-top: 80px;
    margin-left: 80px;
    height: 300px;
    width: 500px;
}


// телефон

@media screen and (max-width: 768px) {
    .register {
        background-color: #705A66;
        background-image: url("../../img/register/bg-section-register.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 810px
    }

    .register-photo-text {
        width: 310px;
        padding-top: 80px;
        padding-left: 79px;
    }

    .register-text {
        font-family: "Montserrat", sans-serif;
        margin-top: -263px;
        padding-top: 280px;
        padding-left: 84px;
        color: #F5F7F8;
        line-height: 22px;
        font-size: 16px;
        width: 322px;
    }

    .register-photo-title {
        margin-top: -74px;
        margin-left: -60px;
        height: 403px;
        width: 500px;
    }
}

// планшет
@media (min-width: 769px) and (max-width: 1023px) {
    .register {
        background-color: #705A66;
        background-image: url("../../img/register/bg-section-register.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 810px
    }

    .register-photo-text {
        width: 310px;
        padding-top: 80px;
        padding-left: 79px;
    }

    .register-text {
        font-family: "Montserrat", sans-serif;
        margin-top: -263px;
        padding-top: 280px;
        padding-left: 84px;
        color: #F5F7F8;
        line-height: 22px;
        font-size: 16px;
        width: 322px;
    }

    .register-photo-title {
        margin-top: -74px;
        margin-left: 43px;
        height: 403px;
        width: 500px;
    }
}