.signup {
    position: absolute;
    margin-left: 741px;
    margin-top: -544px;
    color: #F5F7F8;
}

// .signup-label {

// }

.signup-input {
    font-family: "Montserrat", sans-serif;
    color: #705A66;
    padding-left: 32px;
    border: 1px solid white;
    border-radius: 10px;
    width: 433px;
    height: 60px;
    line-height: 24px;
    font-size: 18px;
}

.signup-textarea {
    font-family: "Montserrat", sans-serif;
    color: #705A66;
    padding-left: 32px;
    padding-top: 19px;
    border-radius: 10px;
    border: 1px solid white;
    width: 433px;
    height: 180px;
    line-height: 24px;
    font-size: 18px;
}

.signup-btn {
    font-family: "Montserrat", sans-serif;
    color: #705A66;
    background-color: #F5EEE0;
    border-radius: 10px;
    border: 1px solid white;
    line-height: 32px;
    font-size: 24px;
    width: 471px;
    height: 67px;
}