.icon-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon {
    width: 25px;
    fill: #705A66;
    margin-left: -250px;
}

.icon:hover {
    fill: #03a9f4;
}

.icon-card {
    width: 25px;
    fill: #705A66;
}


// телефон

@media screen and (max-width: 768px) {
    .icon-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .icon {
        width: 25px;
        fill: #705A66;
        margin-left: -250px;
    }

    .icon:hover {
        fill: #03a9f4;
    }

    .icon-card {
        width: 25px;
        fill: #705A66;
    }
}

// планшет
@media (min-width: 769px) and (max-width: 1023px) {
    .icon-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .icon {
        width: 25px;
        fill: #705A66;
        margin-left: -250px;
    }

    .icon:hover {
        fill: #03a9f4;
    }

    .icon-card {
        width: 25px;
        fill: #705A66;
    }
}